body, html {
    height: 100%;
    margin: 0;
}
.header {
    display: flex;
    justify-content: center; /* Yatayda ortalamak için */
}
.logo {
    max-width: 100%;
    height: auto;
}

.search-container {
    background-color:#EEEDEB;
    border-bottom: 1px solid #ddd;
    margin: 0px 80px;
}

p {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 10px 0; 
    margin: 0px 60px;
}
.card {
    width: 30%;
    padding: 10px;
    background-color: #b3e5fc;
    box-sizing: border-box;
}
.text-center {
    text-align: center;
}

.footer {
    text-align: center;
    padding: 20px 0;
    
    font-size: 14px;
    border-top: 1px solid #ddd;
}
.bg-card1
{
background-color: #7EE5DA;
}
.bg-card2{
    background-color: #70CCC2;
}
.bg-card3{
    background-color: #62B3AA;
}